} .u-section-10 {
  background-image: "image/pa.jpg";
}

.u-section-10 .u-sheet-1 {
  min-height: 494px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-1 {
  padding: 45px 30px 30px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-form-1 {
  height: 103px;
  width: 305px;
  margin: 21px auto 0;
}

.u-section-10 .u-input-1 {
  height: 62px;
}

.u-section-10 .u-btn-1 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  padding: 18px 0;
  margin-left: 200px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 374px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-10 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

